.point:hover{
  cursor: pointer;
}

.title{
  margin-bottom: 0;
  padding: 10px;
}

.sfondo{
  width: 100%;
  height: 100%;
  padding: 20px;
  background: linear-gradient(45deg, #4158d0, #c850c0);
}
