.nav-link:hover{
  background-color: rgba(4, 160, 4, 0.562);
}

.nav-link{
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.logout{
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 20px;
  background-color: red;
  color: white;
}

